[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]
pylama = "*"
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
